<div class="container col-8" id="comments-container">
<div class="comments">
    <h3>Comments: </h3>
    {{#each this}}
    <div class="single-comment">
        <div class="username" >
            <i class="fas fa-at"></i><a href="/api/user/{{id}}"> {{user.username}}</a> 
        </div>
        <div class="text">
            {{comment}}
        </div>
        <div class="info card-subtitle text-muted">
            Posted {{format_date created_at}}
        </div>
        {{/each}}
    </div>
</div>