<div class="container new-post col-8">
    <h3 class="title-new-post"> New Post </h3>
    <form id="new-post-form">
        <div class="form-group">
            <textarea class="form-control" name="post-body" id="post-body" rows="3"></textarea>
        </div>
        <button type="submit" class="create-btn btn btn-secondary" id="newpostbtn"> Create Post </button>
    </form>
</div>

<div class="container col-8" id="all-posts">
    {{#if posts.length}}
    <h3> Your Previous Posts </h3>
    <div class="your-posts">
            {{#each posts as |post|}}
            <ul>
                <div class="post-body card">
                    <div class="card-body">
                    <div class="post-item">
                        <a href="/post/{{id}}">{{post.post}}</a>
                    </div>
                    <div class="post-item info card-subtitle text-muted">
                        Posted {{format_date created_at}}
                    </div>
                    </div>
                    <div class="card-body edit-link">
                    <a  href="/dashboard/edit/{{post.id}}" class="edit">Edit Post</a>
                    </div>
                </div>
            </ul>
            {{/each}}
    </div>
    {{/if}}
</div>


<script src="/js/add-post.js"></script>