<div class="container">
    <h3> Edit Post </h3>
    <form class="form-edit-post" id="edit-post-form">
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <div class="form-group">
            <textarea name="post-body" class="form-control" id="post-body" rows="3">{{post.post}}</textarea>
        </div>
        
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" id="delete-btn" class="btn btn-primary">Delete</button>

    <div class="comments">
        {{>comments post.comments}}
    </div>
    </form>
</div>


<script src="/js/edit-post.js"></script>