<div class="users">
    <h3>All Quack Members:</h3>
    <div class="users container">
        {{#each users as |user|}}
        <div class="user-card">
            <a href="/api/user/{{id}}">{{username}}</a>
        </div>
        {{/each}}
    </div>
</div>