* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
    margin: 0;
    padding: 0;
    font-family: "Didot","IBM Plex Sans", monospace;
    color:black;
    line-height: 1.5;
    font-size: 16px;
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color:#228B22;
    line-height: 1.25;
}


.li-inline {
    display: inline;
}

.navbar {
    width: 100%;
    position: fixed;
    background-color:cadetblue;
}

.nav-item {
    margin: 0 40px;
}

.nav-item a {
    color:aliceblue;
}

header {
    margin-top: 50px;
}

main {
    margin: 20px auto;
    width: 94%;
}

.card { /* this changes the styling for each post in the homepage */
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 2px solid #228B22;
    border-radius: 20px;
    border-width: 5px;
    margin-bottom: 10px;
}

.card-text a:link{ /*this is part of the hover effect in the homepage over the posts*/
    background-image: linear-gradient(#228B22, #228B22);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}

.card-text a:hover { /*part of the hover effect from above*/
    background-size: 100% 100%;
    background-position-x: left;
}

.card-title a:link{ /*this is part of the hover effect in the homepage over the posts*/
    background-image: linear-gradient(#228B22, #228B22);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}

.card-title a:hover { /*part of the hover effect from above*/
    background-size: 100% 100%;
    background-position-x: left;
}

.card-text a:visited {
    text-decoration: none;
    color: rgb(47, 111, 208);
}

.form-group {
    color:rgb(47, 111, 208);
}

.sign-up {
    color:aliceblue;
}

.login {
    color: aliceblue;
}

.user-card {
    border: 2px solid #228B22;
    border-radius: 20px;
    border-width: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding: 10px;
}

.user-card a:link {
    background-image: linear-gradient(#228B22, #228B22);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}

.user-card a:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

.users h3 {
    margin-bottom: 20px;
}


#likes-dislikes{
    display: flex;
}

#likes-dislikes p{
    margin: 10px;
}

