* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;;
    color:black;
    line-height: 1.5;
    font-size: 16px;
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color:#228B22;
    line-height: 1.25;
}


.li-inline {
    display: inline;
}

.navbar {
    background-color: #228B22;

}

nav a {

    text-align: center;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.card-text:link {
    text-decoration: none;
}

.card-text:visited {
    text-decoration: none;
}

.nav-item {
    margin: 0 40px;
}

.duck {
    width: auto;
    height: 60px;
    float: left;
    margin-right: 20px;

}

.nav-item a {
    color:aliceblue;
}

header {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Mochiy Pop One', sans-serif;
}

main {
    margin: 20px auto;
    width: 94%;
}


.card { /* this changes the styling for each post in the homepage */
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid #228B22;
    border-radius: 20px;
    margin: 20px auto;
}

a .post-text {
    color: white;
}

.fas {
    color: white;
}

.far {
    color: white
}

.card-text {
    margin-bottom: 15px;
}

.info {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*this is part of the hover effect in the homepage over the posts*/
.card-text a:link{ 
    background-image: linear-gradient(#228B22, #228B22);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
    text-decoration: none;
    color: white;
} 

/*part of the hover effect from above*/
.card-text a:hover { 
    background-size: 100% 100%;
    background-position-x: left;
}

/*this is part of the hover effect in the homepage over the posts*/
.card-title a:link{ 
    background-image: linear-gradient(#228B22, #228B22);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}

/*part of the hover effect from above*/
.card-title a:hover { 
    background-size: 100% 100%;
    background-position-x: left;
}

.form-group {
    color:white;
}

.sign-up {
    color:aliceblue;
}

.login {
    color: aliceblue;
}

.posted {
    margin-top: 10px;
}

.like-button {
    margin-right: 10px;
}

.users {
    flex-basis: auto;
    
}

.user-card {
    border: 1px solid #228B22;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding: 10px;
    text-align: center;
}

.user-card a:link {
    background-image: linear-gradient(#228B22, #228B22);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}

.user-card a:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

.users h3 {
    margin-bottom: 20px;
}


#likes-dislikes{
    display: flex;
}

#likes-dislikes p{
    margin: 10px;
}

<<<<<<< HEAD
#LDC{
    display: flex;
}

#LDC button {
    width: 50%;
    text-align: center;
    border-top: 2px solid #228B22;
    border-left: 2px solid #228B22;
    background-color: #ffffff10;
}

.comments {
    border: 2px solid #228B22;
    border-radius: 20px;
    border-width: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

=======
>>>>>>> main
.text {
    color:white;
    margin-bottom: 10px;
}

.single-comment {
    padding: 10px;
}

#submitComment {
    margin-top: 10px;
}

#newpostbtn {
    margin-top: 10px;
}

#all-posts {
    margin-top: 35px;
}

.title-new-post {
    margin-bottom: 10px;
}

.post-item {
    padding-left: 25px;
}

.edit-link {
    text-align: right;
    padding-right: 15px;
}

